{% include base_path %}

<!-- start custom head snippets -->

<link rel="icon" type="image/svg+xml" href="data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><circle cx='35' cy='35' r='16' fill='%23334155'/><path d='M5 95 C 5 60 65 60 65 95' fill='%23334155'/><path d='M75 10 Q 75 35 100 35 Q 75 35 75 60 Q 75 35 50 35 Q 75 35 75 10 Z' fill='%230284c7'/><path d='M85 65 Q 85 75 95 75 Q 85 75 85 85 Q 85 75 75 75 Q 85 75 85 65 Z' fill='%2338bdf8'/></svg>">
<meta name="theme-color" content="#f8fafc">
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css"/>

<script type="text/x-mathjax-config"> MathJax.Hub.Config({ TeX: { equationNumbers: { autoNumber: "all" } } }); </script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      processEscapes: true
    }
  });
</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=TeX-MML-AM_CHTML' async></script>

<!-- end custom head snippets -->
